<header class="site-header">
  <span class="site-header__title">{{@title}}</span>
  <ul class="site-header__nav" role="menu">
      {{#each @navigation as |navigation|}}
        <li class="{{if (route-is navigation.route) 'nav-current'}}" role="menuitem">
          {{#if navigation.id}}
            <LinkTo @route={{navigation.route}} @model={{navigation.id}}> {{navigation.label}} </LinkTo>
          {{else if navigation.route}}
            <LinkTo @route={{navigation.route}}> {{navigation.label}} </LinkTo>
          {{else if navigation.link}}
            <a href="{{navigation.link}}"> {{navigation.label}} </a>
          {{/if}}
        </li>
      {{/each}}
  </ul>
</header>