<Header @site={{this.site}} @navigation={{this.blog.navigation}} @title={{this.blog.title}} />
<div class="blog-container">
  <div class="blog-wrapper">
    <main id="site-main" class="site-main">
      {{yield}}
    </main>
  </div>
</div>
<div class="footer">
  <div class="footer_social">
    {{fa-icon "github-square" prefix="fab" size="2x"}}
    {{fa-icon "twitter-square" prefix="fab" size="2x"}}
    {{fa-icon "rss-square" size="2x"}}
  </div>

  <div class="footer_powered">
    <span>© 2020 — Powered by empress-blog</span>
  </div>
</div>
