{{!--
Re-usable card for linking to posts
--}}

<article class="post-card {{@post_class}} {{if @post.image 'with-image' 'no-image'}}" style={{@computedStyle}}>
    <LinkTo @route='post' @model={{@post.id}}>
        <div class="post-card-content">
            <h2 class="post-card-title">{{@post.title}}</h2>
        </div>
    </LinkTo>
</article>
