
{{#let this.model.post as |post|}}
    <article class="post-content {{this.post_class}} {{unless post.image 'no-image'}}">
        <header class="post-header">
            <h1 class="post-header__title">{{post.title}}</h1>
        </header>

        {{#if post.image}}
        <div class="post-content__cover-image">
            <figure class="full-width">
                <img class="" src={{post.image}} alt={{post.title}} />
            </figure>
        </div>
        {{/if}}
        <div class="post-content__body">
            {{markdown-to-html post.content tagName=""}}
        </div>

        <footer class="post-content__footer">

            {{!-- There are two options for how we display the byline/author-info.
            If the post has more than one author, we load a specific template
            from includes/byline-multiple.hbs, otherwise, we just use the
            default byline. --}}

        </footer>

        {{!--
        <section class="post-content-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}

    </article>
{{/let}}
