
{{#let this.model as |tag|}}
<header class="page-head">
    <h1 class="page-head-title">{{tag.name}}</h1>
    <p class="page-head-description">
        {{#if tag.content}}
            {{tag.content}}
        {{else}}
            A collection of {{plural tag.posts.length empty='posts' singular='% post' plural='% posts'}}
        {{/if}}
    </p>
</header>
{{/let}}

<Feed @posts={{this.model.posts}} />
